
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: efs-sc
provisioner: efs.csi.aws.com
parameters:
  provisioningMode: efs-ap            #
  fileSystemId: fs-92107410
  directoryPerms: "700"
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions:
  - tls

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: efs-claim
  namespace: trading
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 100Mi
