apiVersion: v1
kind: Namespace
metadata:
  name: mlflow

---

apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: mlflow
type: Opaque
stringData:
  POSTGRES_DB: mlflowdb
  POSTGRES_USER: mlflow
  POSTGRES_PASSWORD: mlflowpass


---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: mlflow
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: ebs-gp3
        resources:
          requests:
            storage: 10Gi

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: mlflow
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432

---
apiVersion: v1
kind: Secret
metadata:
  name: mlflow-secret
  namespace: mlflow
type: Opaque
stringData:
  AWS_DEFAULT_REGION: ap-northeast-1

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mlflow-config
  namespace: mlflow
data:
  BACKEND_STORE_URI: "postgresql://mlflow:mlflowpass@postgres.mlflow.svc.cluster.local:5432/mlflowdb"
  ARTIFACT_ROOT: "s3://mlflow-artifacts-i9lkus/mlflow/"
  MLFLOW_S3_ENDPOINT_URL: "https://s3.amazonaws.com"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: python:3.9-slim
          envFrom:
            - secretRef:
                name: mlflow-secret
            - configMapRef:
                name: mlflow-config
          command: [ "bash", "-c" ]
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "768Mi"
              cpu: "500m"
          args:
            - |
              pip install --no-cache-dir mlflow==3.1.1 boto3 psycopg2-binary && \
              python -m mlflow server \
                --backend-store-uri "$BACKEND_STORE_URI" \
                --default-artifact-root "$ARTIFACT_ROOT" \
                --host 0.0.0.0 \
                --port 5000 \
                --gunicorn-opts "--timeout 120 --workers 1 --threads 4"



---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: mlflow
spec:
  type: NodePort
  selector:
    app: mlflow
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      nodePort: 30080
